body {
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: OpenSans_R;
  src: url("https://raw.githubusercontent.com/VictoriaKl91/repo-name/master/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans_B;
  src: url("https://raw.githubusercontent.com/VictoriaKl91/repo-name/master/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-icon {
  width: 11%;
  margin-top: 40px;
  fill: #ffffff;
  position: relative;
  z-index: 2;
}

.header {
  display: block;
  position: relative;
  width: 100vw;
  background-image: url("https://raw.githubusercontent.com/VictoriaKl91/repo-name/master/images/football_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.heading_header {
  display: block;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*padding-top: 385px;*/
  /* padding-bottom: 400px;*/
  margin-top: 350px;
  margin-bottom: 402px;
  font-family: OpenSans_B, arial, sans-serif;
  font-size: 4.7vw;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;

  position: relative;
  z-index: 2;
}

.heading_header_1 {
  display: block;
  margin-left: 10%;
  text-align: left;
}

.heading_header_2 {
  display: block;
  margin-right: 10%;
  text-align: right;
}

.system {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  justify-content: center;
  margin-bottom: 40px;
}

.system_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 78px;
  background-color: #5e42b0;
  width: 310px;
  border-radius: 50px;
  margin: 0px 25px 107px 25px;
}

.system_icon {
  display: flex;
}

.icon {
  display: block;
  fill: #ffffff;
  width: 41px;
  margin-left: 14%;
}

.txt_button {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 29px;
  color: #ffffff;
  font-size: 14px;
  font-family: OpenSans_R, arial, sans-serif;
  text-transform: uppercase;
  text-align: left;
}

.txt_button_1 {
  font-family: OpenSans_B, arial, sans-serif;
}

.footer {
  display: block;
  position: relative;
  width: 100vw;
  background-image: url("https://raw.githubusercontent.com/VictoriaKl91/repo-name/master/images/game_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container-footer {
  margin-left: auto;
  margin-right: auto;
}

.heading_footer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.heading_footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  background-color: #5e42b0;
  border-radius: 20px;
  margin-top: 12vw;
}

.heading_footer2 {
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  margin-top: 12vw;
  margin-left: 40px;
  height: 7vw;
  text-transform: uppercase;
  text-align: left;
}

.heading_footer2_txt1 {
  font-family: OpenSans_B, arial, sans-serif;
  font-size: 4.16vw;
  color: #ffffff;
  margin-top: -0.52vw;
  margin-bottom: 0;
}

.heading_footer2_txt2 {
  font-family: OpenSans_R, arial, sans-serif;;
  font-size: 1.55vw;
  color: #a496ca;
  margin-top: -0.52vw;
  margin-bottom: 0;
}

.logo-icon-button {
  display: block;
  width: 75%;
  margin: auto;
  fill: #ffffff;
}

.system-footer {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  justify-content: center;
  margin-top: 7.55vw;
  margin-bottom: 19vw;
}

.logo-footer {
  display: flex;
  justify-content: center;
}

.logo-icon-footer {
  width: 11%;
  margin-bottom: 2.6vw;
  fill: #ffffff;
  position: relative;
  z-index: 2;
}

