body {
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: OpenSans_R;
  src: url("https://raw.githubusercontent.com/VictoriaKl91/repo-name/master/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans_B;
  src: url("https://raw.githubusercontent.com/VictoriaKl91/repo-name/master/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

.logo {
  width: 11%;
  margin-top: 40px;
  
  fill: ##ffffff;
  position: relative;
  z-index: 2;
}

.header {
  display: block;
  position: relative;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/VictoriaKl91/repo-name/master/images/football_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.heading_header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 385px;
  padding-bottom: 400px;
  width: 80%;
  text-align: center;

  font-family: OpenSans_B, arial, sans-serif;
  font-size: 90px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;

  position: relative;
  z-index: 2;
}
